<div class="container">
  <div class="title">
    <h3>Club Record Collection</h3>
  </div>
  <div class="description">
    Once a month, mormbers of our club vote on a record to add to our club collection.
    <br />
    You can view the winners for each month at <a routerLink="/rotm-archive">our Record of the Month page.</a>
  </div>
  <br />
  <div class="records" *ngIf="clubCollection">
    <div class="wrapper">
      <a *ngFor="let record of clubCollection.releases " 
          href="https://discogs.com/release/{{ record.id }}">
        <img src="{{ record.basic_information.cover_image }}" 
        title="{{ record.basic_information.title }} - {{ record.basic_information.artists[0].name }}">
      </a>
    </div>
  </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">