<div class="container">
  <div class="row">
    <div class="col col-md-11 main">
      <div class="description">
        Once a month, members of Purdue Vinyl Club participate in a poll to determine what record
        we should add to our collection. All past winners will be listed here, as well as on the 
        <a routerLink="/club-collection">club collection page.</a>
      </div>
      <div class="winner-spot row">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81nweV8NwYL._SY355_.jpg" title="Sound of Silver" class="img-left">
        <div class="text text-right" style="float: right;">
          <h2><b>November</b>, 2018</h2>
          <h4>Sound of Silver - LCD Soundsystem</h4>
        </div>
      </div>
      <div class="winner-spot row">
        <div class="text text-left" style="float: left;">
          <h2><b>October</b>, 2018</h2>
          <h4>Odyssée - L'Impératrice</h4>
        </div>
        <img src="https://img.discogs.com/yGyFFzCPFS7TXWqzGZPjuMR28h4=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-7641206-1445740599-4406.jpeg.jpg" title="Odyssée" style="float: right;">
      </div>
      <div class="winner-spot row">
          <img src="https://bit.ly/2yAUdcr" title="Maggot Brain" class="img-left">
          <div class="text text-right" style="float: right;">
            <h2><b>August</b>, 2018</h2>
            <h4>Funkadelic - Maggot Brain</h4>
          </div>
        </div>
      <div class="winner-spot row">
        <div class="text text-left" style="float: left;">
          <h2><b>April</b>, 2018</h2>
          <h4>Skiptracing - Mild High Club</h4>
        </div>
        <img src="https://media.pitchfork.com/photos/5929bc61eb335119a49ecc56/1:1/w_320/6d27d953.jpg" title="Skiptracing" style="float: right;">
      </div>
      <div class="winner-spot row">
        <img src="https://upload.wikimedia.org/wikipedia/en/9/96/RunTheJewels3.jpg" title="Run the Jewels 3" class="img-left">
        <div class="text text-right">
            <h2><b>March</b>, 2018</h2>
            <h4>Run the Jewels 3 - Run the Jewels</h4>
          </div>
      </div>
      <br />
      <div class="winner-spot row">
        <div class="text text-left">
          <h2><b>February</b>, 2018</h2>
          <h4>Currents - Tame Impala</h4>
        </div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/A1LVEJikmZL._SY355_.jpg" title="Currents">
      </div>
    </div>
  </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">