.winner-spot {
    margin-bottom: 250px;
    font-family: 'Poppins', sans-serif;
}

.description {
    font-size: 18px;
    color: grey;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
}

.first {
    margin-top: 50px;
}

.not-first {
    margin-top: 250px;
}

.third {
    margin-top: 175px;
    margin-bottom: 400px;
}

.text {
    float: left;
    margin-top: 50px;
}

img {
    max-width: 180px;
    float: right;
}
